@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Press+Start+2P&display=swap');


h1 {
  font-family: 'Merriweather', serif;
}


h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}
f
h4 {
  font-family: 'Merriweather', serif;
}

h5 {
  font-family: 'Merriweather', serif;
}

h6 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 19px;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.background {
  background-color: #fbfbf8
}

.y-card {
  margin: 20px
}

.y-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #cccccc;
}

.y-card-info {
  margin: 10px;
  min-height: 100px;
}

.y-card-title {
  font-size: 24px;
  margin: 0px
}

.y-card-subtitle {
  font-size: 16px;
  margin: 0px
}

@media screen and (min-width: 1001px) {
  .bnav {
    width: 100%;
    transition: bottom 1.0s;
    position: fixed;
    height: 80px;
    bottom: 0px;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #161111;
    background-color: #FCFAF1;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
}

@media screen and (max-width: 1000px) {
  .bnav {
    width: 100%;
    transition: bottom 1.0s;
    position: fixed;
    height: 80px;
    bottom: 0px;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #161111;
    background-color: #FCFAF1;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
}

.bnav--hidden {
  bottom: -80px;
}

.bnavItem {
  position: relative;
  bottom: 5px;
  float: left;
  outline: none;
  display: block;
}


@media screen and (min-width: 1001px) {
  .logo {
    height: 60px;
    width: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    height: 30px;
    width: 60px;
    margin-top:13px;
  }
}

.bnavItem--left {
  position: relative;
  color: #E34F33;
  padding: 6px;
  float: left;
  outline: none;
  display: block;
}

.bnavItem--right {
  position: relative;
  padding: 6px;
  float: right;
  outline: none;
  display: block;
}

.links {
  color: #2B5B6C;
  position: relative;
  padding: 16px;
  outline: none;
  display: block;
}

.links:hover {
  color: #E34F33;
}


@media screen and (min-width: 1001px) {
  .header {
    width: 100%;
    position: fixed;
    padding: 16px;
    height: 80px;
    top: 0px;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #fbfbf8;
    background-color: #000000da;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    z-index: +1
  }
}

@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
    position: fixed;
    padding-top:8px;
    padding-left:16px;
    height: 60px;
    top: 0px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    color: #fbfbf8;
    background-color: #000000da;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    z-index: +1
  }
}

.headerText {
  padding: 16px;
}

.carouselImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroSize {
  margin-top: 80px;
}

@media screen and (min-width: 1001px) {
  .index {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 120px;
    font-size: 100%;
    font-family: 'Inconsolata', monospace;
  }
}

@media screen and (max-width: 1000px) {
  .index {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 120px;
    font-size: 85%;
    font-family: 'Inconsolata', monospace;
  }
}

@media screen and (min-width: 1001px) {
  .indexTag {
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    outline: none;
    display: block;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 1000px) {
  .indexTag {
    display: none;
  }
}

.indexItem1 {
  padding: 6px;
  font-size: 200%;
  color: #161111;
  float: center;
  outline: none;
  position: relative;
  display: block;
  background-color: #e7e7e7;
}

.indexItem1:hover {
  color: #008339;
}

.indexItem2 {
  padding: 6px;
  font-size: 200%;
  color: #161111;
  float: center;
  position: relative;
  background-color: #d1d1d1;
  outline: none;
  display: block;
}

.indexItem2:hover {
  color: #216f9a;
}

.indexItem3 {
  padding: 6px;
  font-size: 200%;
  color: #161111;
  position: relative;
  background-color: #e7e7e7;
  float: center;
  outline: none;
  display: block;
}

.indexItem3:hover {
  color: #A27079;
}

.indexItem4 {
  padding: 6px;
  font-size: 200%;
  color: #161111;
  position: relative;
  background-color: #e7e7e7;
  float: center;
  outline: none;
  display: block;
}

.indexItem4:hover {
  color: #A64133;
}

.indexItem {
  padding: 6px;
  font-size: 200%;
  color: #161111;
  float: center;
  outline: none;
  display: block;
  position: relative;
  background-color: #d1d1d1;
}

.indexItem:hover {
  color: #AF2C2C;
}


.linkSpacer {
  padding-left: 8px;
}
/* 
.landingContainer {
  height: 100vh;
  width: 100%;
  position: relative;
}

.landingContainer::before {
  animation: bounce 2s ease infinite;
  bottom: 6rem;
  color: #a8a8a8;
  content: '╲╱';
  font-size: 2rem;
  height: 3rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
} */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.projectContainer {
  margin-left: 8%;
  margin-right: 8%;
}

.project0 {
  background-color: #AF2C2C;
  /* background-image: url('./assets/images/eat/neon.jpeg'); */
  padding-bottom: 108px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project1 {
  background-color: #005927;
  /* background-image: url('./assets/images/ai/leaf.jpeg'); */
  padding-bottom: 108px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 {
  background-color: #216f9a;
  padding-bottom: 108px;
}

.project3 {
  background-color: #A27079;
  padding-bottom: 108px;
}

.project4 {
  background-color: #A64133;
  padding-bottom: 108px;
}


@media screen and (min-width: 1001px) {
  .projectInfo {
    padding-left: 0px;
    padding-top: 32px;
    margin-left: -8px;
    color: #fff;
  }
}

@media screen and (max-width: 1000px) {
  .projectInfo {
    padding-left: 0px;
    padding-top: 32px;
    margin-left: -8px;
    color: #fff;
    font-size: 32px;
  }
}

@media screen and (min-width: 1001px) {
  .projectDescription {
    padding-left: 0px;
    padding-top: 8px;
    margin-left: -6px;
    color: #fff;
  }
}

@media screen and (max-width: 1000px) {
  .projectDescription {
    padding-left: 0px;
    padding-top: 8px;
    margin-left: -6px;
    color: #fff;
    font-size: 16px;
  }
}

@media screen and (min-width: 1001px) {
  .hero {
    float: center;
    padding-top: 17vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3vh;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    float: center;
    padding-top: 12vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3vh;
  }
}

.hero1 {
  float: center;
  padding-top: 8vh;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 3vh;
}



.responsiveTitle {
  font-size: 8vw;
}

.responsiveSub {
  font-size: 2vw;
}

@media screen and (min-width: 1001px) {
  .title {
    font-size: 72px;
    color: #161111;
  }
}

@media screen and (max-width: 1000px) and (min-width:501px) {
  .title {
    font-size: 64px;
    color: #161111;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 42px;
    color: #161111;
  }
}

@media screen and (min-width: 601px) {
  .sub {
    font-size: 24px;
    padding-top: 16px
  }
}

@media screen and (max-width: 600px) {
  .sub {
    font-size: 20px;
    padding-top: 16px
  }
}



@media screen and (min-width: 1001px) {
  .button {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    color: #fbfbf8;
    background-color: #161111;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}

@media screen and (max-width: 1000px) {
  .button {
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
    color: #fbfbf8;
    background-color: #161111;
    border: none;
    cursor: pointer;
    margin:-16px;
    transition: transform 0.3s ease;
  }
}

.button:hover {
  transform: translateY(-3px);
}

.button-links {
  color: #fbfbf8;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  outline: none;
  display: block;
}

.button-links:hover {
  color: #fbfbf8;
  text-decoration: none
}

.button-position {
  position: relative;
  float: right;
  top: 36px;
  padding: 0 4px;
}

.button1 {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  color: #161111;
  background-color: #c4c4c4;
  pointer-events: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button1-links {
  color: #161111;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  outline: none;
  display: block;
}

.cover {
  width: 100%;
  background-image: url('./assets/images/eat/neon1.jpeg');
  /* Set a specific height */
  min-height: 350px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover1 {
  background-image: url('./assets/images/ai/leaf.jpeg');
  width: 100%;
  /* Set a specific height */
  min-height: 350px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover2 {
  background-image: url('./assets/images/ai/leaf.jpeg');
  width: 100%;
  /* Set a specific height */
  min-height: 350px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover3 {
  background-image: url('./assets/images/happy/blue.jpeg');
  width: 100%;
  /* Set a specific height */
  min-height: 350px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover4 {
  background-image: url('./assets/images/biz/shang2.jpeg');
  width: 100%;
  /* Set a specific height */
  min-height: 350px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-container {
  background-color: #AF2C2C;
  border-radius: 18px 18px 0px 0px;
  color: #fbfbf8;
  bottom: 20px;
  position: relative;
}

.cover-container1 {
  background-color: #008339;
  border-radius: 18px 18px 0px 0px;
  color: #fbfbf8;
  bottom: 20px;
  position: relative;
}

.cover-container2 {
  background-color: #216f9a;
  border-radius: 18px 18px 0px 0px;
  color: #fbfbf8;
  bottom: 20px;
  position: relative;
}

.cover-container4 {
  background-color: #A64133;
  border-radius: 18px 18px 0px 0px;
  color: #fbfbf8;
  bottom: 20px;
  position: relative;
}

.cover-title {
  padding-left: 10%;
  padding-right: 32px;
  padding-top: 24px;
}

.cover-sub {
  padding-left: 10%;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 0px
}

.overview {
  margin-left: 10%;
  margin-top: 2.5%;
  position: relative;
}

.overview-column {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  margin-bottom: 2%;
  float: left;
  margin-right: 14%
}

.footer {
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E34F33;
  color: #161111;
  position: relative;
  height: 100px;
  font-family: 'Inconsolata', monospace;
}

@media screen and (min-width: 1001px) {
  .footer-left {
    position: relative;
    float: left;
    padding-top: 36px;
    padding-left: 3%;
    font-size: 20px;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .footer-left {
    position: relative;
    float: center;
    padding-top: 36px;
    padding-left: 3%;
    font-size: 24px;
    display: block;
  }
}

@media screen and (min-width: 1001px) {
  .footer-right {
    position: relative;
    float: right;
    padding-top: 36px;
    padding-right: 3%;
    font-size: 20px;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .footer-right {
    display: none;
  }
}

.text {
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  clear: both;
}

.statement {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.photo {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  max-width: 80%;
  max-height: auto;
}

.big-photo {
  margin-bottom: 4%;
  max-width: 100%;
  max-height: auto;
}

.next {
  margin-top: 32px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
  clear: both
}

.next-left {
  color: #2B5B6C;
  display: block;
  float: left;
  margin-bottom: 32px
}

.next-right {
  color: #2B5B6C;
  display: block;
  float: right;
  margin-bottom: 32px
}

.next-left:hover {
  color: #E34F33;
}

.next-right:hover {
  color: #E34F33;
}

.content {
  z-index: +2;
}

.about {
  font-size: 20px;
  margin-left: 8%;
  margin-right:8%;
}

@media screen and (min-width: 1001px) {
  .aboutText {
    font-size: 20px;
    margin-left: 8%;
    margin-right:4%;
    max-width: 50%;
    position: relative;
    display: block;
    float: left;
  }
}

@media screen and (max-width: 1000px) {
  .aboutText {
    font-size: 20px;
    margin-left: 8%;
    margin-right:8%;
    max-width: 100%;
    position: relative;
    display: block;
    float: center;
  }
}



@media screen and (min-width: 1001px) {
  .aboutPhoto {
    margin-right:8%;
    margin-bottom:4%;
    max-width: 30%;
    max-height: auto;
    position: relative;
    display: block;
    float: left;
  }
}

@media screen and (max-width: 1000px) {
  .aboutPhoto {
    display: none;
  }
}



.icons {
  margin-right:8px;
  margin-bottom:32px
}

.visit {
  text-align:center;
}











/* this is for the christmas cards */

.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1513297887119-d46091b24bfa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #161111;
}

.caption span.border1 {
  background-color: #fbfbf8;
  color: #cd303b;
  font-family: 'Press Start 2P', cursive;
  line-height: 90px;
  padding: 12px;
  font-size: 4vw;
  letter-spacing: 10px;
}

.caption span.border2 {
  background-color: #fbfbf8;
  color: #263e3e;
  font-family: 'Press Start 2P', cursive;
  line-height: 90px;
  padding: 12px;
  font-size: 3vw;
  letter-spacing: 10px;
}

.dear {
  color: #cd303b;
}

.gap {
  margin: 3%;
  margin-bottom: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.letter {
  /* border-radius: 10px 10px 0px 0px;  */
  margin-top: -10px;
  background-color: #f2ebdb;
  font-size: 24px;
  padding: 6%;
  font-family: 'Inconsolata', monospace;
  color: #263e3e;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
}

/* the end of christmas cards */